@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Bold.woff) format("woff");
    font-weight: bold;
}

body {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    font-family: "TT Lakes", sans-serif;
}

button {
    border: none;
}

.icon-button {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.burger {
    background-image: url('icons/burger.svg');
}

.repair {
    background-image: url('icons/repair.svg');
}

.checkstatus {
    background-image: url('icons/checkstatus.svg');
}

.call {
    background-image: url('icons/call.svg');
}

.chat {
    background-image: url('icons/chat.svg');
}

.profile {
    background-image: url('icons/profile.svg');
}

.icon-button--no-burger {
    background-image: url("icons/no-burger.svg");
}

.icon-button--search {
    background-image: url("icons/search.svg");
}

.menu__logo {
    background-image: url('icons/Group.svg');
}

.header__services, .section-title__actions {
    display: none;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 2px solid #D9FFF5;
    background-color: white;
    gap: 16px;
    box-sizing: border-box;
}

.header__logo-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__contacts {
    display: flex;
    gap: 20px;
    align-items: center;
}

.section-title__text {
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
}

.navbar {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.navbar__list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    white-space: nowrap; 
    margin: 0;
    padding: 0 0 0 10px;
}

.navbar__item {
    padding: 10px 15px;
    border: 2px solid transparent;
}

.navbar__item__link {
    text-decoration: none;
    color: #7E7E82;
}

.navbar__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    background-color: white;

}

.about {
    display: grid;
    flex-direction: column;
    align-items: center;
}

.about__text {
    font-size: 14px;
    margin: 15px 15px 5px 15px;
    height: 100px;
    overflow: hidden;
}

.about__more-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center; 
}

.about__more {
    padding: 0 15px;
    margin: 0 0 15px 0;
    display: flex;
    gap: 20px;
}

.about__more-text {
    margin-left: 16px;
    align-items: flex-end;
}

@media (min-width: 768px) {    
    .navbar {
        overflow: hidden;
        margin-left: 15px;
    }

    .section-title__text {
        padding-left: 24px;
    }

    .header__container {
        gap: 0;
        padding-left: 30px;
    }

    .header__logo-block {
        flex-grow: 4;
        gap: 16px;
    }

    .header__logo-block__divider {
        order: 1;
    }

    .header__logo-block__logo {
        order: 2;
    }

    .header__contacts {
        order: 2;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .header__contacts::before {
        content: "";
        display: block;
        height: 32px;
        width: 1px;
        background-color: #EAEAEA;
    }
    
    .header__services {
        display: flex;
        gap: 15px;
        order: 1;
        flex-grow: 1;
        justify-content: flex-end;
        gap: 20px;
    }

    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 1fr;
        margin: 16px;
    }

    .about__text {
        height: 135px;
        margin: 0 30px;
        padding: 0;
    }

    .about__photo {
        order: 1;
        grid-row: span 2;
        width: 100%;
        border-radius: 5px;
    }

    .about__more {
        order: 2;
        margin: 5px;
    }

}

@media (min-width: 1119px) {
    .header {
        display: none;
    }
    
    .navbar {
        overflow: hidden;
        margin-left: 15px;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 24px;
        margin-top: 16px;
    }

    .section-title__text {
        padding-left: 24px;
    }

    .section-title__actions {
        display: flex;
        gap: 20px;
    }

    .title-contacts__link {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center; 
    }

    .section-title__actions {
        margin-right: 16px;
    }

    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        margin: 16px;
    }

    .about__text {
        height: 100%;
        margin: 0 15px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .about__photo {
        order: 1;
        grid-row: span 2;
        width: 100%;
        border-radius: 5px;
    }

    .about__more {
        order: 2;
        margin: 05px;
        align-self: self-start;
    }

}

.page__block-5 {
    width: 720px;
    background-color: white;
}

.menu {
    width: 320px;
    height: 1024px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none;
}

.menu__header {
    display: flex; 
    align-items: center;
    margin-top: 10px 20px;
}

.menu__burger {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    gap: 15px;
    flex-grow: 0.6;
}

.menu__list {
    list-style: none;
    padding: 20px;
    font-weight: 500;
}

.menu__item {
    padding-bottom: 30px;
    position: relative;
}

.menu__link {
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
}

.menu__item::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 3px; 
    height: 32px;
    background-color: #00e0d0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu__item:hover::before {
    opacity: 1;
}

.menu__link:hover {
    color: #7E7E82;
}

.menu__footer {
    font-weight: 500;
    margin-top: auto;
    padding: 20px 0;
}

.menu__footer-services {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.menu__footer-contact {
    margin-bottom: 40px;
    padding-left: 20px;
}

.menu__footer-contact-link {
    text-decoration: none;
    color: black;
}

.email {
    font-weight: 500;
}

.number {
    font-weight: 700;
    display: block;
    padding-top: 15px;
    font-size: 24px;
}

.menu__footer {
    font-weight: 500;
    position: absolute;
    bottom: 50px;
}

.menu__footer-lang {
    display: flex;
    list-style: none;
    padding: 20px;
}

.menu__footer-lang-option {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
    
}

.menu__footer-lang-option-input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.menu__footer-lang-option:has(.menu__footer-lang-option-input:checked) {
    color: #7E7E82;
}

.icon-button:hover {
    opacity: 25%;
    transition: opacity 0.6s ease-in-out;
}